/* Общие стили */
.main {
  font-size: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-style: normal;
  line-height: 1.36em;
}

.content-title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}


/* Стилизация шапки */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 135px;
}

.header__address {
  justify-self: end;
}

/* Стилизация входной секции */
.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  padding: 50px;
  color: white;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: -140px bottom;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 60%;
  background-color: black;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 111px 0 105px;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 30%;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  width: 255px;
  height: 50px;
  border: solid white 1px;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
}

/* Стилизации секции с карточками*/
.lots {
  margin: 180px 24px 120px;
}

.lots__heading, .lots__look-more-link {
  margin-left: 40px;
}

.lots__cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 31px;
}

.lots__cards-list-item {
  width: 334px;
  min-height: 596px;
  color: white;
  list-style: none;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 47px 41px;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/* Стилизаци секции об акуционе */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 0 24px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 33px 48px;
  border-radius: 100%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__title {
  margin: 133px 0 100px;
}

/* Стилизация подвала */
.footer {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  justify-content: space-between;
  padding: 0px 50px 82px;
  font-size: 18px;
}

.footer__menu-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social {
  justify-self: end;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
}
